.App {
  /* display: flex;
  justify-content: center; */
  color: #1D1D2C;
  height: 100vh;
  background: #F7F4E9;
}

svg {
  width: 20%;
  animation: 1.5s spin ease infinite;
  align-self: center;
}

.ring {
  fill: none;
  stroke: hsla(341, 97%, 59%, 0.3);
  stroke-width: 2;
}

.ball {
  fill: #fc2f70;
  stroke: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.title{
  padding: 1rem;
  font-size: 2rem;
}
.sub-title{
  padding: 0 1rem;
}