.App {
  /* display: flex;
  justify-content: center; */
  color: var(--theme-text-color);
  min-height: 100vh;
  background: var(--theme-bg-color);
  padding-bottom: 15rem;
}

header{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;
  max-width: 1000px;
  margin: 2rem auto 0;
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
}

.title{
  padding: 2rem 1rem;
}

.title .title-line{
  font-size: 36px;
  color: #CFD0D6;
  position: relative;
}

.title .title-line img {
  display: inline-block;
  margin-left: .5rem;
}
.title .sub-title-line{
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  color: #9DA0B2
}

.sub-title{
  padding: 0 1rem;
}

section{
  padding: 15rem 1rem 0 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

.section{
  margin-top: 30rem;
}



.section .section-header{
  display: grid;
  grid-template-columns: max-content 1fr 20px;
  grid-template-rows: 1fr;
  grid-template-areas: ". . .";
  font-family: 'Montserrat SemiBold', sans-serif;
  color: #CFD0D6;
}
.section .section-header .section-header-title{
  font-size: 24px;
}
.section .section-header .section-header-line{
  width: 90%; 
  border-bottom: 1px solid; 
  line-height: 0.1em;
  margin: 10px 0 20px 5% ; 
}
.section .section-header .section-header-num{
  word-wrap: break-word;
}

.section p span{
  color: var(--theme-primary-color)
}

.card{
  background: #14151d;
  padding: 1rem;
  border-top: 3px solid;
  border-color: var(--theme-primary-color);
  margin-bottom: 29rem;
}

.card h2{
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.skills .code-line{
  padding-left: 2rem;
  white-space: nowrap;
}

.skills .code-line .code-line-var{
  padding-right: 1rem;
  color: var(--theme-primary-color)
}

.skills .code-line .code-line-var::after{
  content: " :";
  color: var(--theme-secondary-color);
  font-weight: bold;
}

.skills .code-line .code-line-value:after{
  content: ',';
  color: #fff;
}
.skills .code-line:last-of-type .code-line-value:after{ 
  content: ''
}

.skills .code-line .code-line-value.string{
  color: #62b8b8;
}

