@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Roboto+Mono&display=swap');

* {
  box-sizing:border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


h1,h2,h3,h4,h5,h6,div{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600;
}

p,.skills,.section{
  font-family: 'Roboto Mono', monospace !important;
}

:root {
  --theme-primary-color: #4B92E3;
  --theme-secondary-color: #b83746;
  --theme-bg-color: #101117;
  --theme-text-color: #cfd0d6;
}